<%- include("./partials/header.ejs") %> <%- include("./partials/navbar.ejs") %>

<head>
  <meta charset="utf-8" />
  <style type="text/css">
    body {
      font-family: Arial, sans-serif;
      background-color: #f2f2f2;
      text-align: center;
      padding-top: 50px;
    }
    h1 {
      font-size: 36px;
      color: #333;
      margin-bottom: 20px;
    }
    p {
      font-size: 24px;
      color: #666;
      margin-bottom: 40px;
    }
    img {
      width: 400px;

      margin: auto;
    }
  </style>
</head>
<body>
  <img src="/images/approve.jpg" alt="" />
  <h1>Shopping Successful</h1>
  <p>Thank you, your order has been successfully received.</p>
</body>
<%- include("./partials/footer.ejs") %>
